table td {
  width:125px;
  height:50px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}

table td.highlighted {
  background-color:#999 !important;
}

table td.green {
  background-color: green;
}
table td.red {
  background-color: red;
}
