html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.ui-helper-hidden {
    display: none
}
.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}
.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.ui-helper-clearfix {
    display: inline-block
}
/*\*/

* html .ui-helper-clearfix {
    height: 1%
}
.ui-helper-clearfix {
    display: block
}
/**/

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}
.ui-state-disabled {
    cursor: default !important
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.ui-widget {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em
}
.ui-widget .ui-widget {
    font-size: 1em
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em
}
.ui-widget-content {
    border: 0;
    background: #fff;
    color: #222
}
.ui-widget-content a {
    color: #444
}
.ui-widget-header {
    border: 0;
    background: #437ebb url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x -8px 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .25)
}
.ui-widget-header a {
    color: #fff
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #fff;
    background: #e4e4e4;
    font-weight: bold;
    color: #222;
    padding: 2px 4px;
    border-radius: 2px
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #7a0e00;
    text-decoration: none
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #ddd;
    font-weight: bold;
    color: #397902;
    background: #e4e4e4
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ff0084;
    text-decoration: none
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #3f8601;
    font-weight: bold;
    color: #fff
}
.ui-state-hover a,
.ui-state-hover a:hover {
    color: #fff;
    text-decoration: none
}
.ui-widget:active {
    outline: 0
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #ccc;
    background: #fff url(//d2lr00tub7o6zg.cloudfront.net/assets/images/ui-lightness/ui-bg_flat_55_ffffff_40x100-39ab7ccd9f4e82579da78a9241265df288d8eb65dbbd7cf48aed2d0129887df5.png) 50% 50% repeat-x;
    color: #444
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #444
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #ff0084;
    background: #fff url(//d2lr00tub7o6zg.cloudfront.net/assets/images/ui-lightness/ui-bg_flat_55_ffffff_40x100-39ab7ccd9f4e82579da78a9241265df288d8eb65dbbd7cf48aed2d0129887df5.png) 50% 50% repeat-x;
    color: #222
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #222
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #222
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-icons_ff0084_256x240.png)
}
.ui-widget-content .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-icons_ff0084_256x240.png)
}
.ui-widget-header .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/assets/images/ui-lightness/ui-icons_ffffff_256x240-98991f0262559c830f3a94608c74f95887c373b4a9fe886f0de57f8bbfcdc875.png)
}
.ui-state-default .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-icons_666666_256x240.png)
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/assets/images/ui-lightness/ui-icons_ffffff_256x240-98991f0262559c830f3a94608c74f95887c373b4a9fe886f0de57f8bbfcdc875.png)
}
.ui-state-active .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-icons_454545_256x240.png)
}
.ui-state-highlight .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-icons_0073ea_256x240.png)
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-icons_ff0084_256x240.png)
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}
.ui-icon-circle-triangle-e {
    background-position: -47px -192px
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}
.ui-widget-overlay {
    background: #eee url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-bg_flat_0_eeeeee_40x100.png) 50% 50% repeat-x;
    opacity: .80;
    filter: Alpha(Opacity=80)
}
.ui-widget-shadow {
    margin: -4px 0 0 -4px;
    padding: 4px;
    background: #aaa url(//d2lr00tub7o6zg.cloudfront.net/images/ui-lightness/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .60;
    filter: Alpha(Opacity=60);
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}
.ui-datepicker {
    width: 20em;
    padding: 0;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25)
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .25em 0 .1em
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 2px
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px
}
.ui-datepicker .ui-datepicker-next {
    right: 2px
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 2px
}
.ui-datepicker .ui-datepicker-header a {
    cursor: pointer
}
.ui-datepicker .ui-datepicker-header a:hover {
    background: transparent
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.7em;
    text-align: center
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%
}
.ui-datepicker table {
    -webkit-box-sizing: border-box;
    width: 96.5%;
    font-size: 12px;
    border-collapse: collapse;
    margin: 0 4px .4em
}
.ui-datepicker th {
    padding: .4em .1em .1em;
    text-align: center;
    font-weight: bold;
    border: 0
}
.ui-datepicker td {
    border: 0;
    padding: 1px
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .3em;
    text-align: right;
    text-decoration: none
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left
}
.ui-datepicker.ui-datepicker-multi {
    width: auto
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0
}
.ui-datepicker-rtl {
    direction: rtl
}
.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right
}
.ui-datepicker-rtl .ui-datepicker-group {
    float: right
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px
}
.ui-datepicker-cover {
    display: none;
    display: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px
}
html {
    background-color: #fff
}
body,
input,
button {
    font: normal normal 14px/1.3 "Helvetica Neue", Arial, Helvetica, "Nimbus Sans", sans-serif
}

body>header {
    position: relative;
    width: auto;
    height: 5.5em;
    margin: 0 auto 2em;
    background: #e4e4e4;
    border-bottom: 1px solid #ccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25)
}
body>header h1.logo {
    height: 60px;
    position: absolute;
    top: 8px
}
body>header a {
    text-decoration: none;
    color: #000
}
body>header aside {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 2em;
    padding-bottom: 1.5em;
    width: 110px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/header-divide-7dba0006b4b941c425bd8f034382111a94f081a69cfeaf6726c228d46883ec18.png) no-repeat 0 100%;
    line-height: 1.3;
    text-align: center
}
body>header aside a,
body>header aside a:visited,
body>header aside a:active,
body>header aside a:hover {
    color: #ddd;
    color: rgba(0, 0, 0, .4);
    font-size: 13px;
    text-decoration: none
}
body>header aside a #site_name,
body>header aside a:visited #site_name,
body>header aside a:active #site_name,
body>header aside a:hover #site_name {
    color: #ddd;
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    text-decoration: underline;
    display: inline-block
}
body>footer {
    width: 96%;
    max-width: 69em;
    bottom: 0;
    min-height: 2.5em;
    margin: 2em auto 0;
    border-top: 1px solid #ccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    text-align: center
}
footer p {
    margin: 10px
}
section {
    width: auto;
    margin: 0 auto 2em
}
header h1 {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: #00161a;
    font-size: 19.5px;
    font-weight: bold
}
h1 small {
    font-size: 13px;
    padding-left: .6em
}
h1 small a {
    color: #666
}
h2 {
    color: #00161a;
    font-size: 18px;
    font-weight: bold
}
h3 {
    margin: 1.8em 0 .2em;
    color: #00161a;
    font-size: 1em;
    font-weight: bold
}
p {
    margin: .6em 0 .4em
}
.notice {
    padding: 5px
}
.hidden {
    display: none
}
.error {
    color: red
}
.demo_ended {
    color: red;
    font-size: 18px;
    text-align: center;
    padding: 20px 10px
}
#step-up {
    width: auto;
    margin: 2em 20px 1em 0;
    text-align: right
}
#step-up small {
    clear: both;
    display: block;
    padding: .6em 14px;
    color: #999
}
#step-up button {
    position: relative;
    display: block;
    float: right;
    height: 43px;
    padding-left: 0;
    padding-right: 10px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) no-repeat 0 0;
    border: 0;
    font-size: 18px;
    line-height: 43px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .45);
    cursor: pointer
}
#step-up button span {
    display: block;
    position: relative;
    top: -2px;
    padding-left: 10px;
    padding-right: 7px;
    width: 100%;
    margin-left: 0;
    line-height: 42px;
    text-indent: -2px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) no-repeat 100% -45px
}
#step-up a.button-previous {
    position: relative;
    display: block;
    float: right;
    height: 27px;
    margin-right: 10px;
    margin-top: 16px;
    padding-left: 0;
    padding-right: 12px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) no-repeat 100% -365px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
    color: #fdfcff;
    text-decoration: none;
    text-transform: lowercase;
    text-align: left
}
#step-up a.button-previous span {
    display: block;
    position: relative;
    padding-right: 2px;
    padding-left: 15px;
    height: 27px;
    line-height: 25px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) no-repeat 0 -285px
}
#step-up button:hover {
    background-position: 0 -95px
}
#step-up button:hover span {
    background-position: 100% -140px
}
#step-up button:active {
    background-position: 0 -190px
}
#step-up button:active span {
    background-position: 100% -235px
}
#step-up a.button-previous:hover {
    background-position: 100% -365px
}
#step-up a.button-previous:hover span {
    background-position: 0 -285px
}
#step-up a.button-previous:active {
    background-position: 100% -419px
}
#step-up a.button-previous:active span {
    background-position: 0 -339px
}
#step-up span.stepper {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin: 1px 0 0 8px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) no-repeat
}
#step-up span.step-1 {
    background-position: -50px -900px
}
#step-up span.step-2 {
    background-position: -50px -920px
}
#step-up span.step-3 {
    background-position: -50px -940px
}
#step-up span.step-4 {
    background-position: -50px -960px
}
#step-up span.step-5 {
    background-position: -50px -980px
}
section#services {
    width: 100%;
    margin: 0 auto 0 0
}
section#services h2 {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 1.4em
}
ul#select-service {
    width: 620px;
    margin: 0 auto
}
ul#select-service li {
    width: 300px;
    height: 73px;
    margin: 0 5px 5px 5px;
    float: left;
    display: table;
    list-style: none;
    background: #b0bbaa url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -526px;
    font-size: 16px;
    font-weight: bold
}
ul#select-service.medium {
    width: 585px
}
ul#select-service.medium li {
    width: 170px;
    height: 65px;
    font-size: 13px;
    line-height: 1.3;
    overflow: hidden
}
ul#select-service.large {
    width: 480px
}
ul#select-service.large li {
    width: 440px;
    height: 42px;
    font-size: 16px;
    line-height: 1.1;
    overflow: hidden
}
ul#select-service.large li a {
    background-position: -482px 69%
}
ul#select-service li.active {
    background: #479202 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -751px;
    border-top-color: #b1290b;
    border-bottom-color: #b92b0c
}
ul#select-service li.active:hover {
    background-position: 0 -751px
}
ul#select-service li:hover {
    background-position: 0 -676px
}
ul#select-service li.active:active {
    background-position: 0 -751px
}
ul#select-service li:active {
    background-position: 0 -826px
}
ul#select-service li a {
    padding: 0 15px 0 25px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/tick-6ac8e44d13d7a7d7f893754bdf9597924fe9c777f826f2325efd96595011c8ab.png) no-repeat -482px 57%;
    width: 100%
}
ul#select-service li.active a {
    color: #fff;
    background-position: 8px 57%
}
ul#select-service li span.price {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px;
    font-size: .8em;
    font-weight: normal;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=6);
    white-space: nowrap;
    float: right
}
section#events {
    width: 100%;
    margin: 0 auto 0 0
}
section#events h2 {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 1.4em
}
ul#select-event {
    width: 720px;
    margin: 0 auto
}
ul#select-event li {
    width: 300px;
    height: 73px;
    margin: 0 5px 5px 5px;
    float: left;
    display: table;
    list-style: none;
    background: #b0bbaa url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -526px;
    font-size: 16px;
    font-weight: bold
}
ul#select-event.large {
    width: 680px
}
ul#select-event.large li {
    width: 640px;
    height: 42px;
    font-size: 16px;
    line-height: 1.1;
    overflow: hidden
}
ul#select-event.large li a {
    background-position: -682px 69%
}
ul#select-event li.active {
    background: #479202 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -751px;
    border-top-color: #b1290b;
    border-bottom-color: #b92b0c
}
ul#select-event li.active:hover {
    background-position: 0 -751px
}
ul#select-event li:hover {
    background-position: 0 -676px
}
ul#select-event li.active:active {
    background-position: 0 -751px
}
ul#select-event li:active {
    background-position: 0 -826px
}
ul#select-event li a {
    padding: 0 15px 0 25px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/tick-6ac8e44d13d7a7d7f893754bdf9597924fe9c777f826f2325efd96595011c8ab.png) no-repeat -482px 57%;
    width: 100%
}
ul#select-event li.active a {
    color: #fff;
    background-position: 8px 57%
}
ul#select-event li span.price {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px;
    font-size: .8em;
    font-weight: normal;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=6);
    white-space: nowrap;
    float: right
}
.main {
    padding: 1.5em 0 .5em;
    background: #e4e4e4;
    border-bottom: 1px solid #ccc
}
#resources {
    position: relative;
    width: auto;
    margin-left: 155px
}
#resources.full {
    margin-left: 0
}
.main header h2 {
    margin: 0 2em 1em
}
ul#toggle-service {
    position: absolute;
    top: 0;
    left: -155px;
    width: 150px
}
ul#toggle-service li {
    min-height: 35px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #ccc;
    border-bottom: 1px solid #a9bb8c;
    border-bottom: 1px solid #bbb;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    z-index: -1
}
ul#toggle-service li:hover {
    background-color: #ddd
}
ul#toggle-service li.any {
    height: 38px;
    padding-top: 2px;
    margin-left: 0
}
ul#toggle-service li.any.active {
    width: 158px
}
ul#toggle-service li a {
    display: block;
    min-height: 35px;
    width: 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 5px;
    text-decoration: none;
    color: #00161a;
    margin-left: 12px;
    padding: 7px 0;
    line-height: 21px
}
ul#toggle-service li.active {
    width: 150px;
    background-color: #e4e4e4;
    border-bottom: 1px solid #ccc
}
ul#toggle-service li:only-child {
    background: #e4e4e4;
    margin-right: -6px
}
#daypicker {
    margin: .6em 15px .4em;
    padding: .4em 39px .7em 28px;
    background: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;
    height: 17px;
    overflow: hidden
}
#daypicker a.earlier,
#daypicker a.later,
#daypicker .calendar {
    display: block;
    width: 25px;
    height: 16px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) no-repeat;
    text-indent: -999em;
    overflow: hidden
}
#daypicker a.earlier {
    float: left;
    position: absolute;
    left: 21px;
    margin-top: 3px;
    background-position: 0 -950px
}
#daypicker a.later {
    float: right;
    position: absolute;
    right: 21px;
    margin-top: 3px;
    background-position: 5px -1050px
}
#daypicker span.idag {
    margin: 0 0 0 .65em
}
#daypicker span.calendar {
    text-indent: 0;
    background-position: -50px -999px;
    background: 0;
    position: absolute;
    margin-top: 3px;
    float: right;
    right: 45px
}
#daypicker span.calendar img {
    position: absolute;
    top: 0;
    cursor: pointer
}
#daypicker span.calendar input {
    width: 0;
    height: 0;
    visibility: hidden
}
#daypicker a.earlier.inactive {
    background-position: 0 -900px
}
#daypicker ol li {
    float: left;
    margin: 0 .4em;
    list-style: none
}
#daypicker ol li a {
    text-decoration: none;
    color: #333
}
#daypicker ol li.active a {
    color: #fff;
    padding: 2px 10px;
    background: #57ae03 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -620px
}
#daypicker .calendartext {
    display: none
}
ol#timepicker {
    margin: 1em 2em 2em 2.5em;
    list-style: none
}
ol#timepicker li {
    float: left;
    width: 55px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    margin: 0 2% -1px 0;
    border-top: 1px solid #bbca76;
    border-bottom: 1px solid #bbca76;
    border-color: #ccc;
    font-weight: bold;
    font-size: 13px
}
ol#timepicker.AMPM li {
    width: 83px
}
ol#timepicker li span {
    cursor: pointer
}
ol#timepicker input[type="radio"]+span::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url(//d2lr00tub7o6zg.cloudfront.net/assets/tick-6ac8e44d13d7a7d7f893754bdf9597924fe9c777f826f2325efd96595011c8ab.png) no-repeat -485px 1px;
    vertical-align: middle
}
ol#timepicker input[type="radio"]:checked+span::before {
    background-position: 5px 1px
}
ol#timepicker li.selected {
    background: #5bb203 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -608px;
    color: #fff
}
ol#timepicker input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer
}
ol#timepicker input:checked {
    background-position: 0 50%
}
p#no_availability {
    padding: .8em;
    font-size: 1.15em;
    font-weight: bold;
    color: #444;
    background: #efefef;
    margin: 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff
}
p.summary.warning {
    color: red;
    font-size: 1.1em
}
p.summary {
    display: none;
    margin: .5em 15px 1em;
    padding: 5px 7px;
    background: #eee;
    color: #555;
    font-size: 16px;
    font-weight: bold
}
p.summary em {
    color: #222
}
section#information {
    width: 400px;
    margin: 1em auto 0
}
#information fieldset {
    width: 21em
}
#information p {
    clear: both
}
#information label {
    display: block;
    float: left;
    margin: .5em 0 0;
    font-weight: bold;
    line-height: 1.8;
    text-indent: 6px
}
#information input,
#information textarea,
#information select {
    float: left;
    display: block;
    width: 20em;
    padding: 2px 4px;
    height: 1.8em;
    font: normal 14px/1.2 "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in
}
#information textarea {
    height: 80px
}
#information input[type='checkbox'] {
    clear: both;
    width: auto;
    height: auto
}
#information input:focus,
#information textarea:focus {
    background-color: #f9f9f9;
    -webkit-box-shadow: inset 0 0 5px 2px rgba(175, 195, 215, .8);
    -moz-box-shadow: inset 0 0 5px 2px rgba(175, 195, 215, .8);
    box-shadow: inset 0 0 5px 2px rgba(175, 195, 215, .8)
}
#information.authenticated #informationform .object_person {
    display: none
}
fieldset#informationform .field_with_errors input,
fieldset#informationform .field_with_errors select,
fieldset#informationform .field_with_errors textarea {
    border: 1px solid red !important
}
label small {
    color: #999
}
section#payment {
    width: 420px;
    margin: 1em auto 0
}
#payment p {
    clear: both
}
#payment #informationform {
    border: 10px solid #e4e4e4;
    margin-top: 20px
}
#payment #informationform header {
    background: #6bbb14 url('//d2lr00tub7o6zg.cloudfront.net/assets/glyphicons_203_lock-d20ed4047485170ac11a9774d257d2a2c24cb769963b8752e04dcf824fd7adf7.png') no-repeat 20px center;
    padding: 10px;
    padding-left: 50px;
    font-size: 12px;
    color: #fff;
    text-align: left
}
#payment #informationform footer {
    background: #e4e4e4;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    clear: both
}
#payment #informationform article {
    padding: 20px;
    display: inline-block
}
#payment label {
    margin-bottom: 10px;
    clear: both;
    display: block
}
#payment input {
    margin-top: 5px
}
#payment .cc-number input {
    display: block;
    width: auto;
    font-size: 1.5em
}
#payment .cc-cvc {
    float: right;
    clear: none
}
#payment .cc-cvc input {
    clear: both;
    width: 40px;
    display: block
}
#payment .cc-exp {
    float: left;
    margin-right: 20px
}
#payment .cc-exp span {
    clear: left;
    display: block
}
#payment .cc-exp input[name='month'] {
    width: 30px
}
#payment .cc-exp input[name='year'] {
    width: 50px
}
#payment .cc-name input {
    width: 350px
}
#payment .payment-amount {
    text-decoration: underline;
    border-bottom: 1px solid;
    font-weight: bold
}
ul#select-event::after,
ul#select-service::after,
ul#toggle-service::after,
#daypicker::after,
#timepicker::after,
fieldset::after {
    content: " ";
    display: table;
    clear: both
}
body>header {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px
}
section#step-up button,
section#step-up a {
    -webkit-font-smoothing: antialiased
}
.main,
#daypicker,
ul#select-event li,
ul#select-service li,
ul#toggle-service li,
#daypicker ol li.active a,
p.summary,
p#no_availability {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
ul#select-event li,
ul#select-service li {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25)
}
ul#select-event li.active,
ul#select-service li.active {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .25);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .25);
    border-top-color: rgba(0, 0, 0, .15);
    -webkit-font-smoothing: antialiased
}
ul#select-event li:active,
ul#select-service li:active {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .15);
    -webkit-font-smoothing: antialiased
}
ul#toggle-service li {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    -webkit-box-shadow: inset -15px 0 15px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset -15px 0 15px rgba(0, 0, 0, .05);
    box-shadow: inset -15px 0 15px rgba(0, 0, 0, .05)
}
ul#toggle-service li.active,
ul#toggle-service li:only-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px
}
#daypicker ol li.active a {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15), inset 0 1px 0 rgba(0, 0, 0, .1), inset 0 2px 0 rgba(255, 255, 255, .25);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15), inset 0 1px 0 rgba(0, 0, 0, .1), inset 0 2px 0 rgba(255, 255, 255, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15), inset 0 1px 0 rgba(0, 0, 0, .1), inset 0 2px 0 rgba(255, 255, 255, .25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    -webkit-font-smoothing: antialiased
}
#timepicker li.selected {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    -webkit-font-smoothing: antialiased
}
p.summary {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .2);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .2)
}
@media(max-width:460px) {
    header {
        margin-bottom: 10px
    }
    header h1 {
        margin: .5em 15px .4em;
        left: auto;
        bottom: 0;
        padding: 0
    }
    header h1.logo img {
        max-height: 30px
    }
    header aside {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0 0 .7em;
        background: 0;
        color: rgba(0, 0, 0, 0);
        text-shadow: none;
        overflow: hidden;
        text-align: right;
        line-height: 1;
        right: 15px;
        top: -.5em;
        bottom: auto;
        width: 5.3em;
        top: 10px;
        width: 50%;
        display: none
    }
    header aside a {
        text-shadow: 0 1px 0 rgba(255, 255, 255, .25)
    }
    #step-up {
        margin: 1em 1px 1.5em 0
    }
    #step-up .button-previous {
        margin-right: 2px
    }
    footer {
        position: relative;
        border-bottom: 1px solid #ccc;
        height: auto
    }
    section#resources {
        margin-left: 0
    }
    section#events,
    section#services,
    section.main,
    section#information {
        margin: 5px 0;
        padding: 1em 0;
        width: 100%
    }
    #events h2,
    #services h2,
    .main h2,
    #information h2 {
        margin: .2em 15px .8em
    }
    h3 {
        margin: 1.8em 15px .2em
    }
    #information p,
    #information fieldset {
        margin: .6em 15px .4em;
        width: auto
    }
    ul#select-service,
    ul#select-service.medium,
    ul#select-service.large {
        width: auto
    }
    ul#select-service li {
        width: 100% !important
    }
    ul#select-event,
    ul#select-event.medium,
    ul#select-event.large {
        width: auto
    }
    ul#select-event li {
        width: 100% !important
    }
    ul#toggle-service,
    ul#select-event,
    ul#select-service {
        position: static;
        width: auto;
        margin: 0 15px
    }
    ul#toggle-service li,
    ul#toggle-service li.any {
        margin: 0 5px 5px 0;
        height: 25px;
        padding-top: 0;
        padding-right: 3px;
        background: #c9c9c9 url(//d2lr00tub7o6zg.cloudfront.net/assets/tick-6ac8e44d13d7a7d7f893754bdf9597924fe9c777f826f2325efd96595011c8ab.png) no-repeat -484px 150%;
        font-size: 13px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        list-style: none
    }
    ul#toggle-service li a,
    ul#toggle-service li.any a {
        line-height: 27px;
        height: 25px;
        text-indent: 21px;
        width: auto
    }
    ul#toggle-service li.active {
        width: auto !important;
        background: #fff url(//d2lr00tub7o6zg.cloudfront.net/assets/tick-6ac8e44d13d7a7d7f893754bdf9597924fe9c777f826f2325efd96595011c8ab.png) no-repeat 6px 150%;
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .15);
        -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .15);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, .15);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px
    }
    #table {
        margin: 0;
        padding-top: 0;
        background-image: url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png);
        background-repeat: repeat-x;
        background-position: 0 -1100px
    }
    #daypicker {
        background: #fff url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -1100px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px
    }
    #daypicker-list li {
        display: none
    }
    #daypicker-list li.active {
        display: inline-block
    }
    #daypicker .calendartext {
        display: inline-block;
        float: right;
        margin-right: 5px;
        cursor: pointer
    }
    #daypicker .calendar {
        visibility: hidden
    }
    ol#timepicker {
        margin-left: 1.25em;
        margin-right: 1.25em
    }
    ol#timepicker li {
        margin-right: 5px;
        padding: 5px 12px
    }
    ol#timepicker li a {
        height: 25px
    }
    #information fieldset#informationform {
        width: 100%
    }
    #information fieldset#informationform label {
        clear: both;
        width: 100%
    }
    #information fieldset input,
    #information fieldset textarea,
    #information fieldset select {
        width: 90%
    }
}
.ie section#daypicker,
.ie ol#timepicker,
.ie p.summary {
    zoom: 1;
    overflow: hidden
}
.lte8 header aside,
.lte8 header aside a {
    color: #8b743e
}
.lte7 ul#select-event li a,
.lte7 ul#select-service li a {
    display: block;
    position: relative;
    font-size: 13px;
    margin-top: inherit
}
.lte7 section#step-up button {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    overflow: visible;
    background: 0;
    border: auto;
    line-height: 1.3;
    cursor: pointer;
    padding: 2px 6px;
    background-color: #ec3a12;
    border-style: outset;
    border-width: 2px;
    font-family: sans-serif;
    font-size: 13pt;
    overflow: hidden;
    text-align: center;
    zoom: 1
}
.lte7 section#step-up button span {
    display: inline;
    position: static;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    line-height: 1;
    text-indent: none;
    background: 0
}
.lte7 section#step-up a.button-previous {
    position: relative;
    display: block;
    overflow: hidden;
    float: right;
    height: auto;
    margin-right: 15px;
    margin-top: 6px;
    padding-left: 2px;
    padding-right: 2px;
    background: transparent none;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    text-decoration: underline;
    text-transform: lowercase;
    text-align: left
}
.lte7 section#step-up a.button-previous span {
    display: inline;
    position: static;
    padding: 0;
    width: auto;
    height: auto;
    line-height: 1;
    background: transparent none
}
.ie6 ol#timepicker li label input {
    margin-left: -1px;
    margin-top: 2px
}
.ie7 ol#timepicker li label input {
    position: absolute;
    margin-left: -22px;
    margin-top: -2px
}
.ie7 ol#timepicker li label {
    padding-left: 18px
}
.ie8 ol#timepicker li label input {
    position: relative;
    margin-top: 3px;
    margin-left: -2px
}
.lte7 section#step-up small {
    padding-top: 0;
    margin-top: 0
}
.lte7 section#step-up small .stepper {
    display: none
}
#weekday_available header {
    padding: 0 10px;
    display: block;
    line-height: 24px
}
#weekday_available header h2 {
    margin-left: 2%;
    float: left
}
#weekday_available header a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 5px 12px
}
#weekday_available header ul {
    list-style-type: none
}
#weekday_available header .button {
    border: 1px solid #aeafb1;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1)
}
#weekday_available header li {
    line-height: 24px
}
#weekday_available header #filterButtons {
    float: right
}
#weekday_available header #filterButtons .button {
    display: inline-block
}
#weekday_available header #filterButtons .button a img {
    left: 5px;
    top: 3px;
    position: relative
}
#weekday_available header #filterWeek {
    clear: both;
    font-size: .8em
}
#weekday_available header #filterWeek .prev {
    float: left
}
#weekday_available header #filterWeek .next {
    float: right
}
#weekday_available header #filterButtons .dropdownPanel {
    position: absolute;
    display: none
}
#weekday_available header #filterButtons .dropdownPanel li {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1)
}
#weekday_available header #filterButtons .dropdownPanel li a:hover {
    background: #5bb203 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -608px
}
#weekday_available table {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .05);
    margin: 0 1%;
    width: 98%;
    background: rgba(255, 255, 255, .5);
    border-collapse: collapse;
    border-spacing: 0
}
#weekday_available table th,
#weekday_available table td {
    text-align: left;
    border: 1px solid #aeafb1
}
#weekday_available table.days-5 th {
    width: 20%
}
#weekday_available table th .date {
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 1.2em
}
#weekday_available table th .date strong {
    text-transform: uppercase
}
#weekday_available table th .date .long {
    display: block
}
#weekday_available table th .date .shorty {
    display: none
}
#weekday_available table td {
    vertical-align: top
}
#weekday_available table td .hour h2 {
    font-size: 13px;
    color: #aeafb1;
    display: block;
    line-height: 20px
}
#weekday_available table td .interval {
    text-decoration: none;
    color: #000;
    background: #fff;
    display: block;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1);
    padding: 5px 0 0 5px;
    line-height: 30px;
    cursor: pointer
}
#weekday_available table td li.selected .interval {
    background: #5bb203 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -608px;
    color: #fff
}
#weekday_available table td .interval:hover {
    background: #5bb203 url(//d2lr00tub7o6zg.cloudfront.net/assets/spritemap-bced17625aa6a0bdee86dbd56d7453a014c86f4cd2c9017e16c8ba9e60e4404c.png) repeat-x 0 -608px
}
#weekday_available table td .interval:hover h3 {
    color: #fff
}
#weekday_available table td .interval .date {
    display: none
}
#weekday_available table td .interval h5,
#weekday_available table td .interval h3 {
    font-weight: normal;
    display: inline
}
#weekday_available table td .next_available {
    display: none
}
#weekday_available table tr.no_availability {
    display: table-row;
    background: #fff
}
#weekday_available table tr.no_availability td {
    display: table-cell;
    background: #fff;
    border-top: 0
}
#weekday_available table tr.no_availability td .next_available {
    display: block;
    background: #fff;
    padding: 20px 30px;
    text-align: center
}
.lte9 #weekday_available #timepicker input[type=radio] {
    display: inline;
    position: absolute;
    visibility: visible;
    top: -50px
}
@media(max-width:460px) {
    #weekday_available table {
        background: #e4e4e4;
        border: 0;
        box-shadow: none
    }
    #weekday_available table thead,
    #weekday_available table tbody,
    #weekday_available table tr,
    #weekday_available table td {
        width: 100% !important
    }
    #weekday_available table thead tr {
        display: block
    }
    #weekday_available table th {
        border: 0;
        border-bottom: 1px solid #aeafb1;
        background: 0;
        text-align: center
    }
    #weekday_available table.days-7 th {
        font-size: .8em
    }
    #weekday_available table th.selected {
        border: 1px solid #aeafb1;
        border-bottom: 1px solid #fff;
        border-bottom: 0;
        background: #fff
    }
    #weekday_available table th .date {
        font-size: .9em;
        padding: 6px 2px;
        cursor: pointer
    }
    #weekday_available table th .date .long {
        display: none
    }
    #weekday_available table th .date .shorty {
        display: inline-block
    }
    #weekday_available table td {
        display: none
    }
    #weekday_available table td.selected {
        border-top: 0;
        display: block;
        width: auto !important
    }
    #weekday_available table td .next_available {
        display: block;
        background: #fff;
        padding: 20px 10px
    }
    #weekday_available table tr.no_availability {
        display: table-row;
        background: #fff
    }
    #weekday_available table tr.no_availability td {
        display: table-cell;
        background: #fff;
        border-top: 0
    }
}
html:not([lang="no-NB"]) ol#timepicker li {
    width: 80px
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}
input[type=number] {
    -moz-appearance: textfield
}