<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="login.js"></script>

<div ng-app="medxport" ng-controller="LoginCtrl">
	Email: <input type="text" ng-model="email">
	Password: <input type="password" ng-model="password">

	<br><br>

	<button ng-click="loginUser()">Login</button>

	<p ng-if="message">Completion: <strong>{{ message }}</strong></p>
	<p ng-if="error"> Error: <strong> {{ error }} </strong></p>
</div>