html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
	background-color: #fafaed
}
.login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width:50%;
  max-width:300px;
    border-radius: 25px;
    text-align: center
   	font-family: Georgia;
	font-size: 15pt;
	background-color: #f8f8e6
}

#login input {
    clear:both;
    float:right;

	margin: 0px 30px 0px 0px;
}



