html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
	/*background-color: #fafaed;*/
  width:100%;
  height: 100vh;
}

.container {

  padding:30px 30px;
  overflow: hidden;
  position:relative;
  width: calc (100% - 60px)
  margin: auto;
}
.login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width:60%;
  max-width:300px;
    border-radius: 25px;
    text-align: center
   	font-family: Georgia;
	font-size: 15pt;
	background-color: #f8f8e6
}

#login input {
    clear:both;
    float:right;

	margin: 0px 30px 0px 0px;
}
h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  text-align: left;
}
#signup {
  text-align: center;
  margin:0 auto;
}
#signup input{
  position:center;
 display:inline-block
}
#signMid {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.top {
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 0 auto;
}
.leftPatient {
  display:inline-block;
  width:100%;
  background-color: #fafaed;
  overflow: hidden;
}
/*.rightPatient {
  display: inline-block;
  width:30%;
  background-color: red;
  vertical-align:top
}
.rightPatient button {
  display: block;
  margin: 0 auto;
}*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
